{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block content %}
<h2>All Songs</h2>
<ul>
    {% for song in songs %}
    <li><a href="/song/{{ song.id }}/">{{ song.name }}</a></li>
    {% endfor %}
</ul>
<div class="pagination">
    {% if songs.has_previous %}
    <a href="?page={{ songs.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in songs.paginator.page_range %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endfor %}

    {% if songs.has_next %}
    <a href="?page={{ songs.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}